*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 72px;

}
    
.header-left{
    width: 175px;
    height: 72px;
    float: left;
}

.img-logo{
    width: 140px;
    height: 72px;
}
.div-mid{
    height: 72px;
    width: 60%;
    float: left;
    margin-left: -48px;
}

li{
    float: left;
    list-style-type: none;
    padding-left: 5px;
    float: left;
    list-style-type: none;
    padding-top: 24px;
    padding-left: 16px;
    
}

.an{
    text-decoration: none;
    color: #4a4f54;
    font-size: 10px;
    letter-spacing: .25em;
    font-family: AvenirNext,arial,helvetica,sans-serif;
    font-weight: bold;
}

.img-loc{
    height: 72px;
}

.header-right{
    height: 72px;
    width: -19px;
    float: left;
    margin-left: 326px;
}

.first-image{
    width: 100%;
}

.image1{
    width: 100%;
}

.bl{
    height: 224px;
    float: left;
}

.ro{
  width: 436px;
  float: left;
}

.vp{
  width: 399px;
    float: left;
}

.btd{
  width: 384px;
  float: left;
  margin-left: -85px;
}

.byo{
  width: 343px;
  float: left;
  margin-left: 44px;
}

.cl{
    height: 1000px;
    width: 1523px;
    background-color: #e9ecec;
    float: left;
    margin-top: 42px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 91px;
    padding-right: 91px;
    padding-top: 59px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    background: transparent;
    text-align: center;
  }
  .h1a{
    text-align: center;
    padding-top: 69px;
    letter-spacing: 0.05em;
  }
  .grid-img{
    width: 293px;
    height: 100%;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 91px;
    padding-right: 91px;
    padding-top: 59px;
  }
  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    background: transparent;
    text-align: center;
  }
  .h1b{
    text-align: center;
    padding-top: 69px;
    letter-spacing: 00.05em;
  }

  .fm{
    height: 1000px;
    width: 1523px;
    float: left;
    margin-bottom: -417px;
    margin-top: -1px;
    background-color: #f8f9f9;
}

.grid-img2{
    width: 398px;
    height: 100%;
  }

  .ex{
    height: 645px;
    width: 1523px;
    background-color: #4a4f54;
    float: left;
    margin-top: 54px;
    
}

.h1c{
    text-align: center;
    padding-top: 69px;
    letter-spacing: 0.05em;
    color: #fff;
  }

  .h1d{
    text-align: center;
    padding-top: 69px;
    letter-spacing: 0.05em;
    color: black;
  }

  .expl{
    height: 645px;
    width: 1523px;
    background-color: #f8f9f9;
    float: left;
    margin-top: 0px;
    padding-bottom: 161px;
    color: #4a4f54;
}
 
.grid-expl{
    margin-left: 32px;
    width: 598px;
    height: 100%;
  }

  .li{
    height: 500px;
    width: 100%;
    padding-top: 0px;
    float: left
  }

  .li-img{
    width: 100%;
    height: 100%;
  }

  .footer{
    width: 1522px;
    height: 100px;
    height: 363px;
    background-color: #4a4f54;
    color: #fff;
    float: left;
    
  }

  .fg{
    width: 100%;
  }

  .footer2{
    width: 1522px;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #e4e8e8;
    float: left;
  }

  .inf2{
    width: 1099px;
    margin-left: 86px;
    height: 40px;
  }

  .inimg{
    width: 18px;
    padding-top: 14px;
  }

  .inf3{
    height: 50px;
    width: 60%;
    margin-left: 12px;
    margin-bottom: -7px;
    margin-top: -43px;
  }
  